{% load static %}

<!-- START: Footer -->
<footer class="dx-footer">
    <div class="dx-box-1">
        <div class="container">
            <div class="row vertical-gap lg-gap">
                <!--
                <div class="col-sm-12 col-lg-12 text-center">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            <a href="index-2.html" class="dx-widget-logo">
                                <img src="{% static 'images/logo.svg' %}" alt="" width="88px"> 
                                
                            </a>
                        </div>
                        <div class="dx-widget-text">
                            <p class="mb-0">&copy; {% now "Y" %}  <span
                                    class="dib">TechKids Adventure</span><br> <span class="dib">All rights reserved.</span>
                            </p>
                        </div>
                       
                    </div>

                </div>

                -->
                <div class="col-sm-4 col-lg-4">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            <a href="index-2.html" class="dx-widget-logo">
                                <img src="{% static 'images/logob.png' %}" alt="" width="150px">

                            </a>
                        </div>
                        <div class="dx-widget-text">
                            <p class="mb-0">&copy; {% now "Y" %} <span class="dib">TechKids Adventure</span><br> <span
                                    class="dib">All rights reserved.</span>
                            </p>
                        </div>

                    </div>

                </div>
                <div class="col-sm-4 col-lg-4">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            Developers
                        </div>
                        <div class="dx-widget-portfolio">
                            <p>Chong Kar Min 287173<br>
                                Derrick Saw Wei Heng 287707<br>
                                Tracy Liaw Mien Yee 287944<br>
                                Low Wei Jie 289669</p>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4 col-lg-4">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            SKIH3023 (A) COLLABORATIVE AND SOCIAL COMPUTING 
                        </div>
                        <div class="dx-widget-portfolio">
                            <p>Instructor: 	Prof. Madya Dr. Farzana binti Kabir Ahmad</p>
                        </div>
                    </div>

                </div>
                <!-- <div class="col-sm-6 col-lg-3">

                    <div class="dx-widget-footer">
                        <div class="dx-widget-title">
                            Latest Posts
                        </div>
                        <a href="single-post.html" class="dx-widget-post">

                            <span class="dx-widget-post-text">
                                <span class="dx-widget-post-title">The Big Thing in Design</span>
                                <span class="dx-widget-post-date">25 Sep 2018</span>
                            </span>

                        </a>
                        <a href="single-post.html" class="dx-widget-post">

                            <span class="dx-widget-post-text">
                                <span class="dx-widget-post-title">Will Coding Ever Rule the World?</span>
                                <span class="dx-widget-post-date">24 Sep 2018</span>
                            </span>

                        </a>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->

</div>



<!-- START: Scripts -->

<!-- Object Fit Images -->
<script src="{% static 'vendor/object-fit-images/dist/ofi.min.js' %}"></script>

<!-- Popper -->
<script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Fancybox -->
<script src="{% static 'vendor/fancybox/dist/jquery.fancybox.min.js' %}"></script>

<!-- Cleave -->
<script src="{% static 'vendor/cleave.js/dist/cleave.min.js' %}"></script>

<!-- Validator -->
<script src="{% static 'vendor/validator/validator.min.js' %}"></script>

<!-- Sticky Kit -->
<script src="{% static 'vendor/sticky-kit/dist/sticky-kit.min.js' %}"></script>

<!-- Jarallax -->
<script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
<script src="{% static 'vendor/jarallax/dist/jarallax-video.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'vendor/isotope-layout/dist/isotope.pkgd.min.js' %}"></script>

<!-- ImagesLoaded -->
<script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

<!-- Swiper -->
<script src="{% static 'vendor/swiper/dist/js/swiper.min.js' %}"></script>

<!-- Gist Embed -->
<script src="{% static 'vendor/gist-embed/gist-embed.min.js' %}"></script>

<!-- Bootstrap Select -->
<script src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- Dropzone -->
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>

<!-- Quill -->
<script src="{% static 'vendor/quill/dist/quill.min.js' %}"></script>

</body>

</html>